<footer class="footer">
  <div class="container">
    <div class="content">
      <div class="brand">
        <h3>Portfolio<span>.</span></h3>
        <p>A modern Full-Stack Software Developer.</p>
      </div>
      
      <div class="links">
        <h4>Quick Links</h4>
        <div>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/projects">Projects</a></li>
          <li><a routerLink="/skills">Skills</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
        </div>
      </div>
      
      <div class="social">
        <h4>Connect With Me</h4>
        <div class="social-links">
          <a target="_blank" href="https://github.com/anthonybturner" aria-label="GitHub"><i class="fab fa-github"></i></a>
          <a target="_blank" href="https://www.linkedin.com/in/anthony-turner-0207b76b/" aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a>
          <a target="_blank" href="mailto:anthonybturner@icloud.com" aria-label="Email"><i class="fas fa-envelope"></i></a>
        </div>
      </div>
    </div>

    <div class="bottom">
      <p>&copy; {{ currentYear }} Anthony Turner's Portfolio. All rights reserved.</p>
    </div>
  </div>
</footer>