@use './abstracts' as *;
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 1000;
  transition: all 0.3s ease;
  box-shadow: $shadow-soft;

  .container {
    max-width: 1200px;
    height: 148px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }

  .brand {
    h3 {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }

    p {
      opacity: 0.9;
    }
  }

  .links {
    h4 {
      margin-bottom: 1rem;
    }

    ul {
      display: flex;
      list-style: none;
      padding: 0;
      gap: 1rem;

      li {
        margin-bottom: 0.5rem;

        a {
          transition: color 0.3s ease;
          cursor: pointer;
        }
      }
    }
  }

  .social {
    h4 {
      margin-bottom: 1rem;
    }

    .social-links {
      display: flex;
      gap: 1rem;
      a {        
        &:hover {
          transition: all 0.4s ease;
          background: #3498db;
          transform: translateY(-12px);
        }
      }
    }
  }

  .bottom {
    border-top: 1px solid rgba(64, 25, 172, 0.74);
    text-align: center;
    opacity: 0.8;
  }
}