@use './abstracts' as *;

.footer {
  // Layout Properties
  bottom: 0;
  left: 0;
  padding: 1rem;

  // Background & Visual
  @include frosted-glass-bg(#ffffff21);

  // Transitions & Animations
  transition: all 0.3s ease;

  .content {
    // Layout
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
    align-items: baseline;

    h3 {
      color: #fff;
    }

    .brand {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h3 {

        // Box Model
        margin-bottom: 1rem;

        // Typography
        font-size: var(--fs-p);
      }

      p {
        // Visual
        opacity: 0.9;
      }
    }

    .links {
      // Layout
      display: flex;
      flex-direction: column;
      justify-content: center;

      ul {
        // Layout
        display: flex;

        // Box Model
        margin: 0;
        padding: 0;

        // Typography
        list-style: none;
      }
    }

    .social {
      h4 {
        // Box Model
        margin-bottom: var(--spacer);
      }

      .social-links {
       
        a {

          // Pseudo-elements & States
          &:hover {
            // Transforms & Transitions
            transform: translateY(calc(var(--spacer-sm) * -1));
            transition: all 0.4s ease;
          }
        }
      }

    }
  }

  .bottom {
    // Layout
    text-align: center;
    // Visual
    opacity: 0.8;
  }
}

@media (min-width: 0px) and (max-width: 600px) {
  .footer {
    .container {
      .content {
        // Layout
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;

        h3 {
          margin: .5rem 0 .5rem 0;
        }

        p {
          margin: 0;
        }

      }
    }
  }
}