<div class="container contact">
  <section class="contact-section">
    <div class="section-header">
      <h1>Get In Touch</h1>
      <p>Have a project in mind or want to discuss opportunities? Feel free to reach out!</p>
    </div>

    <div class="contact-content">
      <div class="contact-left">
        <h4>{{contactHeader().title}}</h4>
        <div class="contact-info">
          @for(item of contactItems(); track item.label){
          <div class="info-item">
            <i [class]="item.iconClass"></i>
            <h3>{{item.label}}</h3>
            <p>{{item.value}}</p>
          </div>
          }
        </div>
      </div>

      <div class="contact-right">
        <app-contact-form></app-contact-form>
      </div>
    </div>
  </section>
</div>