@use './abstracts' as *;

.card {
  @include card-layout;

  &__icon {
    width: var(--img-icon);
    height: var(--img-icon);
    margin: var(--spacer) auto;
    padding: var(--spacer);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent-clr);
    border-radius: var(--br);
    font-size: var(--fs-2);
  }

  &__category {
    font-size: var(--fs);
    margin-bottom: var(--spacer);
  }

  &__proficiency {
    
    &__progress-bar {
      height: 8px;
      border-radius: 4px;
      overflow: hidden;
      margin-bottom: 0.5rem;
    }
    &__progress {
      height: 100%;
      background: linear-gradient(90deg, var(--secondary-clr), var(--accent-clr));
      border-radius: var(--br);
      transition: width 1s ease-in-out;
    }
    &__percentage {
      font-size: var(--fs);
      font-weight: var(--fw-b)
    }
  }
}