@use './abstracts' as *;

.skill-card {
  background: var(--secondary-clr);
  padding: 1.5rem;
  border-radius: 15px;
  transition: all 0.3s ease;
  text-align: center;
  margin-bottom: 4px;
  border: 1px solid #cccccc83;

  &:hover {
    @include hover-effect;
  }

  &__icon {
    width: 60px;
    height: 60px;
    margin: 0 auto 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1523316b;
    border-radius: 50%;
    font-size: 2rem;
    color: #3498db;
  }

  &__category {
  font-size: 0.875rem;
    margin-bottom: 1rem;
  }

  h3 {
    margin: 0 0 0.5rem 0;
  font-size: 1rem;
  }


  &__proficiency {
    
    &__progress-bar {
      height: 8px;
      border-radius: 4px;
      overflow: hidden;
      margin-bottom: 0.5rem;
    }
    &__progress {
      height: 100%;
      background: linear-gradient(90deg, var(--secondary-clr), var(--accent-clr));
      border-radius: var(--br);
      transition: width 1s ease-in-out;
    }
    &__percentage {
      font-size: var(--fs);
      font-weight: var(--fw-b)
    }
  }
}