@use './abstracts' as *;

.skills-section {
  width: 90%;
  margin: 0 auto;

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--spacer);

    @media (min-width: 500px) and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 0px) and (max-width: 499px) {
      grid-template-columns: 1fr;
    }
  }
}