@use './abstracts' as *;

.skills {
   
  .section-header {
    // Layout
    text-align: center;
    align-items: center;

    // Box Model
    margin-bottom: 3rem;

    h1 {
      // Box Model
      margin-bottom: 1rem;

      // Typography
      font-size: 2.5rem;
    }

    p {
      // Box Model
      max-width: 600px;
      margin: 0 auto;

      // Typography
      font-size: 1.1rem;
    }
  }
  // Grid Layout
  .grid {
    // Layout
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    // Media Queries
    @media (min-width: 0px) and (max-width: 600px) {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
  
  section:hover {
    background: rgba(255, 253, 253, .3) !important;
    .card{
        background-color: #fff !important;
    }
  }
}