:root {

  // Colors
  --primary-clr: hsl(0, 0%, 96%); 
  --secondary-clr:hsl(0, 0%, 98%); 
  --accent-clr: hsl(207, 95%, 26%);
  --accent-hl-clr: hsla(207, 95%, 30%, 0.23);

  --color-text: hsl(0, 0%, 0%); // Main text color
  --color-secondary-text: hsl(0, 20%, 93%); // Main text color
  --color-heading: hsl(220, 100%, 1%); // Heading text color
  --color-heading2: hsl(197, 100%, 27%); // Secondary heading accent color
}

// Progress bar gradient
$bar-fill: linear-gradient(90deg, var(--accent-clr) 0%, var(--accent-clr) 40%, var(--color-bg) 100%);