:root{
      // Font Family
  --ff: 'Fira Sans', sans-serif;

  // Font Weights
  --fw-n: 300; 
  --fw-m: 600;
  --fw-b: 800;

  //Font Sizes
  --fs-1: 6rem; 
  --fs-2: 5rem;
  --fs-3: 2rem;
  --fs-4: 1rem;
  --fs-5: .8rem;
  --fs-p: 1rem;
  --fs: 16px;

  --ls: 0.05em;

  //Image sizes
  --img-icon: 3rem;


  
  // Spacing
  --spacer: 1rem;
  --spacer-md: calc(var(--spacer) * 2);
  --spacer-lg: calc(var(--spacer) * 3);
  --spacer-xlg: calc(var(--spacer) * 4);

  // Shadows
  --shadow: 2px 1px 1px var(--accent-clr);
  --shadow-md: 0 4px 8px var(--accent-clr);
  --shadow-lg: 0 8px 16px var(--accent-clr);
  --shadow-card: 2px 2px 2px var(--accent-clr);

  // Border Radius
  --br: .6rem;
  --br-sm: .3rem;


}

$base-margin-top-bottom: 12px;