$padding-top: 70px;
$padding: 16px;
$font-size-lg: 1.5rem;
$margin: 16px auto;
$base-margin-top-bottom: 12px;
$shadow: 4px 4px 4px rgba(0, 0, 0, 0.18);
$shadow-soft: 0 1px 6px #0b2d6d;
$shadow-3d: 0 8px 10px 0 rgba(0, 0, 0, 0.25), // main shadow
    0 1.5px 6px 0 rgba(0, 184, 217, 0.18), // blue glow
    0 -8px 24px 0 rgba(255, 111, 97, 0.12), // coral top shadow
    8px 0 24px 0 rgba(0, 0, 0, 0.18), // right edge
    -8px 0 24px 0 rgba(0, 0, 0, 0.18); // left edge