@mixin snackbar-base($bg, $text) {
  background-color: var(--color-bg) !important;
  color: var(--color-text) !important;
  border-radius: 18px;
}

@mixin image-icon-styles {
  border-radius: 50%;
  border: 2px solid var(--accent-clr);
  background: var(--accent-clr);
  margin: 0 auto;
}

@mixin hover-effect {
  transform: translateY(-4px) scale(1.0);
  box-shadow: var(--shadow-card);
}