@mixin snackbar-base($bg, $text) {
  background-color: var(--color-bg) !important;
  color: var(--color-text) !important;
  border-radius: 18px;
}

@mixin image-icon-styles {
  border-radius: 50%;
  border: 2px solid var(--accent-clr);
  background: var(--accent-clr);
  margin: 0 auto;
}

@mixin hover-effect {


  transform: translate(20px, 1px) scale(1.1);

  /* X, Y */
  @media screen and (max-width: 600px) {
      transform: translate(0px, 0px) scale(.9);
  }

  transition: all 0.3s ease;
  box-shadow: var(--shadow-inset);
  padding: var(--spacer-sm);
}