@use 'config' as *;

body {
    margin: 0 0 20rem 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $text;
    background: $primary;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading;
}

h3,
.header,
section .hero-content {
    @include header-style;
}

.header {
    background-color: rgba($secondary, .5);
    backdrop-filter: blur(3px);
    box-shadow: $shadow;
    padding-bottom:1rem;

    .logo {
        color: $accent;
    }
}

li {
    color: $text;
    margin-bottom: 1rem;
    letter-spacing: 0.03em;
}

div.container {

    @media (min-width: 601px) and (max-width: 900px) {}

    @media (min-width: 0) and (max-width: 600px) {
        display: flex;
        flex-direction: column;
    }
}

section {
    background: $secondary;
    border-radius: .5rem;
    box-shadow: $shadow;
    margin: $margin;
    padding: $padding;
    backdrop-filter: blur(8px);

    .section-header {
        color: $heading2;
        border-radius: 14px;
        padding: $padding;

    }

    &:hover {
        box-shadow: 0 2px 2px 0 $accent;
    }
}

main .wrapper .layout-grid .col .card:hover {
    box-shadow: 0 2px 2px 0 $accent;
}

.project-card {
    background: $card-bg;
    color: $card-text;
    box-shadow: $shadow;
    padding: $padding;

    &:hover {
        transform: translateY(-4px) scale(1.0);
        box-shadow: 0 2px 2px 2px $secondary;
    }
}

.graph-bar {
    background: $primary;
}

.bar-fill {
    background: $accent;
}

a,
.btn {
    color: $accent;
    background: $primary;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 700;
    transition: background 0.2s;

    &:hover {
        padding: 4px;
        box-shadow: 0 2px 2px 0 $accent;
    }

    &.active {
        &::after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            border-radius: 2px;
            background: $accent;
        }
    }
}


.bar-fill {
    background: $bar-fill;
    border-radius: 4px;
    height: 8px;
}