:host {
  // Layout Properties
  display: block;
  position: relative;
  
  // Box Model
  min-height: 100vh;
}

main {
  // Box Model
  min-height: calc(100vh - 70px);
  margin: calc(70px + var(--spacer)) 0 10rem 0;
}