@use './abstracts' as *;


section {
    .card {
        .images {
            img {
                width: 40% !important;
                min-height: 400px;
                max-height: 400px;
            }

        }
    }
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));

        @media (min-width: 0px) and (max-width: 649px) {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }
    }
}