@use './abstracts' as *;

.project-card {
  display: inline-block;
  border-radius: var(--br);
  border: 1px solid var(--accent-hl-clr);
  overflow: hidden;
  transition: all 0.3s ease;
  background: var(--secondary-clr);
  color: var(--color-text);
  padding: var(--spacer) 0;

  &:hover {
    @include hover-effect;
  }

  .image {
    height: 200px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(transparent, rgba(#0f0d7c, 0.7));
      padding: var(--spacer);
    }
  }

  .content {
   padding: var(--spacer);

    .technologies {
      margin-bottom: var(--spacer);

      span {
        background: #f8f9fa;
        color: #3498db;
        padding: 0.3rem 0.8rem;
        border-radius: var(--br);
        font-size: var(--fs-5);
        font-weight: 500;
      }
    }

    .actions {
      a {
        text-align: center;
        padding: var(--spacer);
        margin: 10px;
        border-radius: var(--br);
        text-decoration: none;
        font-weight: 500;
        transition: all 0.3s ease;

        &.demo {
          background: var(--accent-clr);
          color: var(--secondary-clr);

          &:hover,  &.github  {
            background: var(--accent-hl-clr);
          }
        }

        &.github {
          background:var(--accent-clr);
          color: var(--secondary-clr);

          &:hover {
            background:var(--accent-hl-clr);
          }
        }
      }
    }
  }
}